# Ignore all files and directories
*

# Keep specific files
!CMakeLists.txt
!README.md
!.gitignore
!locations.csv
!more-locations.csv
!ethiopia-locations.csv
!osrm-request.sh
!install-deps.sh
!install-osrm.sh
!download-run.sh
!osrm-tutorial.ipynb
!osrm-expert.ipynb
!osrm_location_graph.ipynb
!images/*.jpg
